<% layout("/admin/navbar") %>

<div class="container my-4">
  <div class="card">
    <div class="card-header bg-primary text-white">
      Seat Details
    </div>
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th>Seat No</th>
            <th>Is Booked</th>
            <th>Booked By</th>
            <th>Timing</th>
          </tr>
        </thead>
        <tbody>
          <% seats.forEach(seat => { %>
            <tr>
              <td><%= seat.seatNo %></td>
              <td><%= seat.isBooked ? "Yes" : "No" %></td>
              <td>
                <% if (seat.bookedBy && seat.bookedBy.name) { %>
                  <%= seat.bookedBy.name %>
                <% } else { %>
                  -
                <% } %>
              </td>
              <td><%= seat.timing ? seat.timing.replace("_", " ") : "-" %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
